<p>main_items: {{main_items}}</p>
<p>root_item: {{root_item}}</p>
<p>active_item: {{active_item}}</p>
{% comment %} <p>children: {{children}}</p> {% endcomment %}
{% for main_item in main_items %}
<menu>
    <a href="{{ main_item.get_absolute_url }}">{{ main_item.title }}</a>
    {% if main_item == root_item %}
        {% for ch in main_item.childs.all %}
            <menu>
                <li>
                    <a href="{{ ch.get_absolute_url }}">{{ ch.title }}</a>
                    {% if ch == active_item %}
                    {% for act_ch in active_item.childs.all %}
                    <menu>
                        <li>
                            <a href="{{ act_ch.get_absolute_url }}">{{ act_ch.title }}</a>
                        </li>
                    </menu>
                    {% include 'main/menu_list.html' with main_items=root_item.childs.all %}
                    {% endfor %}
                    {% endif %}
                </li>
            </menu>
        {% endfor %}
    {% else %}
        {% include 'main/menu_list.html' with main_items=main_items.remove.main_item %}
    {% endif %}
        
    </menu>
{% endfor %}
